.vs

*.sbl
*.plg
*.aps
*.ncb
*.opt
Debug
Release
*__Win32_*
/innosetup/installs
asm_makeinsts/asm_makeinsts.vcxproj.user
bbruntime/bbruntime.vcxproj.filters
bbruntime/bbruntime.vcxproj.user
bbruntime_dll/bbruntime_dll.vcxproj.filters
*.user
*.sdf
*.filters
*.pro
*.exe
*.dll
*.pdb
/_release/tmp
/_release/cfg/blitzide.prefs
/_release/userlibs
!/_release/userlibs/UserLibs.txt
